
@{
    ViewBag.Title = "Hizmetlerim";
    Layout = "~/Views/Shared/_MyLayoud.cshtml";
}

<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Hizmetlerim</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Anasayfa</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Hizmetlerim</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Services banner -->
<!-- Services Section -->
<section class="w3-gallery py-5" id="portfolio">
    <div class="container py-lg-5 py-md-4 py-2">

        <div class="row portfolio-area clearfix p-0 m-0">
            <div class="col-lg-4 col-md-6 portfolio-item2 content" data-id="id-1" data-type="cat-item-1">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/blog1.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/mini_mini_2-min (3).jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Arsa</h3>
                            <p class="content-text">Görselleri</p>
                        </div>

                    </a>
                </span>
                <div align="center"><h6>Arsa Çekimleri</h6> </div>
                <p>Dronlar, son yıllarda birçok farklı alanda kullanılmaya başlanmıştır. Bunlardan biri de harita ve çizim işlemleridir. Dronlar, havadan yüksek çözünürlüklü fotoğraflar çekerek bu fotoğrafları birleştirerek detaylı haritalar oluşturabilirler.</p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-md-0 mt-4" data-id="id-2" data-type="cat-item-2">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/mini_mini_1.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/mini_mini_1.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Özel Gün</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Özel Gün Çekimleri</h6> </div>
                <p>Drone çekimleri, yüksekten bakış açısı ile özel günlerin daha geniş bir perspektifte görüntülenmesini sağlar. Aynı zamanda, drone'ların hareket kabiliyeti, videoların daha dinamik ve ilgi çekici hale gelmesini sağlar.</p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-lg-0 mt-4" data-id="id-3" data-type="cat-item-3">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/arsa.JPG" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/arsa.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Düğün</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Düğün Çekimleri</h6> </div>
                <p>Drone'lar, yüksek çözünürlüklü kameraları sayesinde harika görüntüler yakalayabilir. Düğün, nişan, doğum günü, mezuniyet töreni ve diğer özel günlerde, drone ile yapılan çekimler, geleneksel çekim tekniklerinden çok daha farklı ve özel bir hava katacaktır.</p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-4" data-type="cat-item-4">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/blog4.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/isyeri.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Yapı</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Yapı Çekimleri</h6> </div>
                <p>Drone'lar, gayrimenkulün hava fotoğraflarını ve videolarını çekerek, potansiyel müşterilere tam bir görüntü sunarlar. Drone'ların yüksek çözünürlüklü kameraları sayesinde, gayrimenkulün etrafındaki manzaralar ve detaylar mükemmel bir şekilde yakalanabilir.</p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-5" data-type="cat-item-5">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/bosarsa.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/bosarsa.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">İş Yeri Tanıtım</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>İş Yeri Çekimleri</h6> </div>
                <p>Drone'lar, iş yerinin farklı açılardan görüntülenmesini ve etrafındaki manzaraları yakalamayı sağlar. Bu sayede, iş yerinin tamamı ve çevresi potansiyel müşterilere daha iyi bir şekilde sunulabilir.</p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-7" data-type="cat-item-6">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/blog6.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/deneme.png" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Tanıtım </h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Tanıtım Çekimleri</h6> </div>
                <p>Drone'lar, tanıtım ürününün farklı açılardan görüntülenmesini ve etrafındaki manzaraları yakalamayı sağlar. Bu sayede, tanıtalanın tamamı ve çevresi potansiyel müşterilere daha iyi bir şekilde sunulabilir.</p>
            </div>
        </div>
        <!--end portfolio-area -->
    </div>
    <!-- //gallery container -->
</section>
<!-- //Services Section -->


<div class="service-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main">
                "Yeni bakış açıları keşfedin, drone çekimleriyle dünyayı farklı görün!"
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="https://www.youtube.com/watch?v=T8HzxapsblI&t=32s" target="_blank">
                            <img class="d-block img-responsive" src="~/starter/assets/images/deniz.png" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="https://www.youtube.com/watch?v=T8HzxapsblI&t=32s" target="_blank" class="service-heading">Gölcük Anıt </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4 pt-sm-0 pt-2">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="https://www.youtube.com/watch?v=T8HzxapsblI&t=32s" target="_blank">
                            <img class="d-block img-responsive" src="~/starter/assets/images/Ekran Görüntüsü (658).png" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="https://www.youtube.com/watch?v=MqZv32W0T-w" target="_blank" class="service-heading">Başiskele Gün Batımı </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 pt-lg-0 pt-2">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="https://www.youtube.com/watch?v=T8HzxapsblI&t=33s" target="_blank">
                            <img class="d-block img-responsive" src="~/starter/assets/images/Ekran Görüntüsü (660).png" alt="card-image">

                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="https://www.youtube.com/watch?v=T8HzxapsblI&t=33s" target="_blank" class="service-heading">Yapı Çekimi </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

