
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoud.cshtml";
}


<!-- Blog Single banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Gölcük Drone Çekimleri</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Anasayfa</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Gölcük Drone Çekimleri</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Blog Single banner -->
<!-- Blog Section -->
<section class="blog-post-main w3l-blog">
    <div class="blog-content-inf py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="blog-posthny-info mx-auto" style="max-width:850px">
                <div class="single-post mb-4">

                    <div class="style-title position-relative">
                        <h3 class="title-style  mb-4">Gölcük Drone Çekimleri!</h3>
                    </div>
                    <div class="d-grid-info">
                        <div class="author align-items-center">
                            <a href="#author" class="post-author">
                                <img src="~/starter/assets/images/atinc.png" alt="" class="img-fluid rounded-circle">
                            </a>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#author"> Atınç Yürür</a>
                                </li>
                                <li>
                                    <span class="meta-description">Drone Pilot</span>
                                </li>
                            </ul>
                        </div>

                        <ul class="share-post">
                            <li>
                                <a href="#link" class="facebook" title="Facebook">

                                    <span class="btn-text">
                                        <span class="fab fa-facebook-f"
                                              aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="twitter" title="Twitter">
                                    <span class="btn-text">
                                        <span class="fab fa-twitter" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="instagram" title="Instagram">
                                    <span class="btn-text">
                                        <span class="fab fa-instagram" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="~/starter/assets/images/arsa.JPG" class="img-fluid img-responsive" alt="blog-post-image" />
                <span class="title text-center">Kocaeli drone çekiminden bir fotoğraf karesi</span>

                <div class="single-post">
                    <p class="mt-5 mb-4">
                        Gölcük, Türkiye'nin Marmara Bölgesi'nde yer alan ve özellikle İzmit Körfezi'ne komşu olan bir ilçedir. Güzel doğası, sahil şeridi, tarihi ve kültürel zenginlikleri ile ünlüdür. Gölcük, aynı zamanda birçok kişi için tatil ve dinlenme mekanı olarak tercih edilmektedir. Bu güzel ilçenin özellikle deniz kıyısındaki manzaraları ve doğal güzellikleri, drone çekimleri için son derece cazip bir konu oluşturur.
                    </p>

                    <p class=" mb-4">
                        Drone çekimleri, gökyüzünden elde edilen muhteşem görüntülerin kaydedilmesine imkan tanır. Gölcük'ün bu tür çekimler için harika bir konum olmasının birkaç nedeni vardır:
                    </p>
                    <p class=" mb-4">
                        1. Deniz Manzaraları: Gölcük, İzmit Körfezi'nin hemen yanı başında bulunur. Bu nedenle deniz manzaraları, sahil şeridi ve limanlar gibi etkileyici mekanları içinde barındırır. Drone çekimleri, bu deniz manzaralarını kuşbakışı olarak yakalayabilir ve göz alıcı görüntüler oluşturabilir.
                    </p>
                    <p class=" mb-4">
                        2.Doğal Güzellikler: Gölcük, ormanlık alanları, yaylaları ve parkları ile doğal güzelliklerle çevrilidir. Ormanlık bölgelerde yapılan drone çekimleri, doğanın huzurunu ve yeşilliğini sergiler. Ayrıca Gölcük'e özgü bitki örtüsü ve fauna da ilginç konular sunar.
                    </p>
                    <p class=" mb-4">
                        3. Tarihi ve Kültürel Alanlar: Gölcük, tarihi ve kültürel açıdan da zengin bir geçmişe sahiptir. Tarihi binalar, anıtlar, camiler ve daha fazlası, drone çekimleri için ilginç nesneler olabilir. Özellikle Gölcük Merkez Camii gibi önemli yapılara kuşbakışı bakışlar sunabilir.
                    </p>
                    <p class=" mb-4">
                        4. Festivaller ve Etkinlikler: Gölcük, farklı zamanlarda birçok festival ve etkinlik ev sahipliği yapar. Bu tür etkinlikler sırasında yapılan drone çekimleri, kalabalığı ve etkinliklerin heyecanını yakalamak için mükemmel bir fırsat sunar.
                    </p>
                    <p class=" mb-4">
                        Ancak, drone kullanırken yerel düzenlemelere ve yasalara uymak son derece önemlidir. Drone çekimlerinin izin alınması ve hava sahası kısıtlamalarına uyulması gerekmektedir. Ayrıca, çevreye saygılı olunmalı ve diğer insanların gizliliğine saygı gösterilmelidir.
                    </p>
                    <p class=" mb-4">
                        Gölcük'ün muhteşem doğal güzellikleri ve çeşitli mekanları, drone çekimcileri için ilham verici bir konu sunar. Bu çekimler, Gölcük'ün güzelliklerini daha geniş bir izleyici kitlesiyle paylaşmak ve bu bölgeyi tanıtmak için harika bir yol olabilir.
                    </p>





                </div>
                <img src="~/starter/assets/images/arsa.JPG" class="img-fluid mt-5 img-responsive mt-3" alt="blog-post-image">
                <span class="title text-center">Kocaeli drone çekimlerimden başka bir kare</span>


            </div>
        </div>
    </div>
</section>
