
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoud.cshtml";
}


<!-- banner section -->
<section id="home" class="w3l-banner pt-5">
    <div class="container pt-lg-5 pt-md-4">
        <div class="row pt-lg-5 pt-4">
            <div class="col-lg-7 banner-info-grid pt-lg-0 pt-5">
                <h1 class="mb-3">Merhaba, Ben Atınç Yürür</h1>
                <h3 class="mb-4"> <span class="typed-text"></span><span class="cursor">&nbsp</span> </h3>
                <p>
                    Kocaeli'nde drone çekimlerini profesyonel bir şekilde gerçekleştiriyorum.Arsa çekimleri, Konut çekimleri,
                    İşyeri tanıtımları ve özel günlerinizde  hizmetinizdeyim.
                </p>

                <a class="btn btn-primary btn-style mt-5 me-2" href="/Home/İletisim"> Bana Ulaşın </a>
                <a class="btn btn-style transparent-btn mt-5" href="#"> Çekimlerim</a>

            </div>
            <div class="col-lg-5 text-lg-end my-image mt-lg-0 mt-4">
                <img src="~/starter/assets/images/atinc.png" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->
<section class="w3-gallery py-5" id="portfolio">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main mb-2">Hizmetlerimiz</h3>
        </div>
        <div class="row portfolio-area clearfix p-0 m-0">
            <div class="col-lg-4 col-md-6 portfolio-item2 content" data-id="id-1" data-type="cat-item-1">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/blog1.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/mini_mini_2-min (3).jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Arsa</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Arsa Çekimleri</h6> </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-md-0 mt-4" data-id="id-2" data-type="cat-item-2">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/mini_mini_1.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/mini_mini_1.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Özel Gün</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Özel Gün Çekimleri</h6> </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-lg-0 mt-4" data-id="id-3" data-type="cat-item-3">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/arsa.JPG" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/arsa.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Düğün</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Düğün Çekimleri</h6> </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-4" data-type="cat-item-4">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/blog4.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/isyeri.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Yapı</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Yapı Çekimleri</h6> </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-5" data-type="cat-item-5">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/bosarsa.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/bosarsa.jpg" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">İş Yeri Tanıtım</h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>İş Yeri Çekimleri</h6> </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item2 content mt-4" data-id="id-7" data-type="cat-item-6">
                <span class="image-block">
                    <a class="image-zoom" href="~/starter/assets/images/blog6.jpg" data-gal="prettyPhoto[gallery]">
                        <div class="content-overlay"></div>
                        <img src="~/starter/assets/images/deneme.png" class="img-fluid w3layouts agileits" alt="portfolio-img">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Tanıtım </h3>
                            <p class="content-text">Görselleri</p>
                        </div>
                    </a>
                </span>
                <div align="center"><h6>Tanıtım Çekimleri</h6> </div>
            </div>
        </div>
        <!--end portfolio-area -->
    </div>
    <!-- //gallery container -->
</section>
<!-- About Section-->

<!-- //About Section-->
<!-- Services Section -->
<section class="about-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main">Sunduğumuz Hizmetler</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-map-marked"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url">Arsa Çekimleri</a></h5>
                        <p>
                            Emlak sektörünün olmazsa olmazı haline gelen kuşbakışı arsa görsellerini çok ileri boyuta taşıdık.Dron ile arsa çekiminde çoklu detay işaretlemelerimiz farklarımızdan biridir.Dron ile Haritalamayla Elde edilen ürünler sayısal yükseklik modeli (DEM) sayısal arazi modeli (DSM) nokta bulutu orta fotometrikW
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url"> Yapı Çekimleri</a></h5>
                        <p>
                            Gayrimenkulde dar açılı çekilmiş fotoğraflar artık geçmişte kaldı.Bir projesinin görünüşünü müşteriye sergilemek istediğinizi düşünün. Bunu sadece konutun yukarısından farklı açılarla geniş görünümlü fotoğraflar ya da videolar aracılığıyla başarabilirsiniz.Bu çekimler sayesinde etrafındakiler görülebilir.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fa fa-place-of-worship"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url"> İş Yeri Çekimleri</a></h5>
                        <p>
                            İş yerinizin konumu, çevreyle olan bağlantısı, hizmetleriniz, vizyonunuz ve daha bir çok faktör işyeri dron çekimleri sayesinde klip ve özel efektlerle yapılır.Havadan dron konusunda tecrübemiz ve teknolojik bilgi birikimimizle bu bakımdan size beklentilerinizin de ötesinde yardımcı olmaya tamamen hazırız.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="w3l-btn text-center">
            <a href="/Home/Hizmetlerim" class="btn btn-border mt-lg-5 mt-4 me-2">
                Diğer Hizmetlerimiz <span class="fas fa-long-arrow-alt-right"></span>
            </a>
        </div>
    </div>
</section>
<!-- //Services Section -->





<section class="w3l-skills py-5" id="skills">
    <div class="container py-lg-5 py-md-4 py-3">
        <div class="row">
            <div class="col-lg-6 pe-lg-5">
                <img src="~/starter/assets/images/contact-img.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 w3l-content-6 px-lg-4 align-self-center">
                
                <h3 class="w3l-title-main">
                    Drone Çekimleri Hakkında
                </h3>
                <p class="mt-4">
                    Drone fotoğrafçılığı basit gibi görünen ama çok ince detayları olan komplike bir süreçtir.
                    Çünkü hem iyi bir pilot olmanız gerektiği gibi işin gerek edit, gerek haritalama gibi teknik detaylarınada hakim olmanız gerekmektedir.Ayrıca drone çekimlerini etkileyen başlıca BAŞLIKLAR...
                </p>
                <div class="progress-info mt-5">
                    <h6 class="progress-tittle">Kullanılan Drone ve Ekipman</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info">
                    <h6 class="progress-tittle">
                        Pilot Çekim Kalitesi
                    </h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info">
                    <h6 class="progress-tittle">Kötü Hava Şartları</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="progress-info mb-0">
                    <h6 class="progress-tittle"> Edit &amp; Kurgu</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Why Choose Us Section-->
<!-- //Why Choose Us Section-->
<!-- Stats Section-->
<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="w3l-stats-inner-inf py-lg-4">
            <div class="row stats-con text-center">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter"> 458 </p>
                    <h3>Arsa Çekimleri</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <p class="counter"> 255 </p>
                    <h3>Yapı Çekimleri</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <p class="counter"> 128 </p>
                    <h3>Özel Gün Çekimleri</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <p class="counter"> 263 </p>
                    <h3>İş Yeri Çekimleri</h3>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- //Stats Section-->
<!-- portfolio -->
<!-- //portfolio -->
<!--/brands-->
<div align="center"><h3>Referanslarımız</h3> </div>
<section class="w3l-brands py-md-5 py-4">
    
    <div class="container py-lg-2">
        <div class="align-items-center">

        </div>
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                <img src="~/starter/assets/images/images.png" class="img-fluid" alt="Brand">
            </div>
            <div class="item">
                <img src="~/starter/assets/images/Engindenizemalk.jpg" class="img-fluid" alt="Brand">
            </div>

            <div class="item">
                <img src="~/starter/assets/images/EPA (1).jpg" class="img-fluid" alt="Brand">
            </div>

            <div class="item">
                <img src="~/starter/assets/images/akcenkyap.jpg" class="img-fluid" alt="Brand">
            </div>

            <div class="item">
                <img src="~/starter/assets/images/altunta.jpg" class="img-fluid" alt="Brand">
            </div>

            <div class="item">
                <img src="~/starter/assets/images/pekinemlak.png" class="img-fluid" alt="Brand">
            </div>
            <div class="item">
                <img src="~/starter/assets/images/remax.jpg" class="img-fluid" alt="Brand">
            </div>


        </div>
    </div>
    </div>
</section>
<!-- //brands -->
