
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_MyLayoud.cshtml";
}



<!-- Blog Single banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Blog Single - no sidebar</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Blog single - no sidebar</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Blog Single banner -->
<!-- Blog Section -->
<section class="blog-post-main w3l-blog">
    <div class="blog-content-inf py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="blog-posthny-info mx-auto" style="max-width:850px">
                <div class="single-post mb-4">
                    <div class="price-review mb-1 align-items-center">
                        <p>Startup Business</p>
                        <span>Mar 22,2022</span>
                    </div>
                    <div class="style-title position-relative">
                        <h3 class="title-style  mb-4">How to hack your Virtual Reality Life for Max Efficiency!</h3>
                    </div>
                    <div class="d-grid-info">
                        <div class="author align-items-center">
                            <a href="#author" class="post-author">
                                <img src="~/starter/assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                            </a>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#author"> William Noah</a>
                                </li>
                                <li>
                                    <span class="meta-description">Photographer</span>
                                </li>
                            </ul>
                        </div>

                        <ul class="share-post">
                            <li>
                                <a href="#link" class="facebook" title="Facebook">

                                    <span class="btn-text">
                                        <span class="fab fa-facebook-f"
                                              aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="twitter" title="Twitter">
                                    <span class="btn-text">
                                        <span class="fab fa-twitter" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="instagram" title="Instagram">
                                    <span class="btn-text">
                                        <span class="fab fa-instagram" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="~/starter/assets/images/blog6.jpg" class="img-fluid img-responsive" alt="blog-post-image" />
                <span class="title text-center">error dolore dolorem, aut possimus libero saepe</span>

                <div class="single-post">
                    <p class="mt-5 mb-4">
                        Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                        consectetur.Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing
                        elitFuga,
                        suscipit totam animi consequatur saepe blanditiis. Lorem ipsum dolor sit amet,Ea
                        consequuntur
                        illum facere aperiam sequi optio consectetur adipisicing elit.
                    </p>
                    <p class="mb-4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti odit? At
                        iure
                        facere, porro repellat officia quas, dolores magnam assumenda soluta odit harum voluptate
                        inventore ipsa maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo officia.
                    </p>
                    <blockquote class="blockquote quote my-5">
                        <q>
                            Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                            consectetur. Ea illum facere aperiam sequi optio consectetur.
                        </q>
                        <footer class="blockquote-footer mt-3">
                            Alexander smith
                        </footer>

                    </blockquote>
                    <p class="mb-5">
                        Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                        erat
                        eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                        culpa quis.
                    </p>
                    <h3 class="title-style mb-4">How to hack your Reality Life</h3>
                    <p class="mb-4">
                        Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id
                        erat eu ullamcorper. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id,
                        sunt in
                        culpa quis.
                    </p>
                    <p class="mb-5">
                        More off this less hello salamander lied porpoise much over tightly circa horse taped so
                        innocuously outside crud mightily rigorous plot life. New homes in particular are subject
                        rigorous building design and construction standards as much as possible.
                    </p>
                    <ul class="single-post-list">
                        <li>
                            <strong>Return to investors.</strong> Our investors took a huge bet on us and they
                            deserved to get a handsome return.
                        </li>
                        <li>
                            <strong>Return to employees.</strong> Our team also took a big bet on us over the years
                            by investing their time. They deserved a return as well.
                        </li>
                        <li>
                            <strong>Stock options.</strong> If we weren’t planning to sell the company, giving
                            employees stock options didn’t make sense. We needed a new way for the team to share in
                            the success of the business.
                        </li>
                    </ul>
                </div>
                <img src="~/starter/assets/images/blog5.jpg" class="img-fluid mt-5 img-responsive mt-3" alt="blog-post-image">
                <span class="title text-center">error dolore dolorem, aut possimus libero saepe</span>

                <div class="single-post">
                    <p class="mt-md-5 mt-4 ml-md-4 ml-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Animi
                        necessitatibus error dolore dolorem, aut possimus libero saepe doloremque sequi
                        consequatur non
                        veritatis quidem enim minima
                        totam.
                    </p>
                    <p class="mt-4 ml-md-4 ml-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Animi sequi consequatur non veritatis quidem enim minima totam.
                        sequi consequatur non veritatis enim minima totam.
                    </p>
                    <p class="mt-4 mr-md-4 mr-0">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Quis esse laborum magnam dolorem excepturi fuga consequatur a cumque incidunt
                        aspernatur. sequi consequatur non quidem enim minima totam. sequi consequatur non
                        quidem enim minima totam.
                    </p>

                    <div class="single-pagination">
                        <a class="prev-post pull-left" href="#prev">
                            <span class="fa fa-arrow-left"
                                  aria-hidden="true"></span>
                            Previous Post
                        </a>
                        <a class="next-post pull-right" href="#next">
                            Next Post <span class="fa fa-arrow-right"
                                            aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="comments mt-5">
                        <h4 class="side-title ">Recent Comments </h4>
                        <div class="media mt-4">
                            <div class="img-circle">
                                <img src="~/starter/assets/images/team1.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="media-body">

                                <ul class="time-rply mb-2">
                                    <li>
                                        <a href="#URL" class="name mt-0 mb-1 d-block">William Noah</a>
                                        March 21, 2022 - 3:02 am

                                    </li>
                                    <li class="reply-last">
                                        <a href="#reply" class="reply">
                                            <span class="fa fa-reply"
                                                  aria-hidden="true"></span> Reply
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, hic
                                    reprehenderit
                                    eum cupiditate deleniti asperiores illum ad tenetur aliquam culpa fugit odit
                                    consequatur.
                                </p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="img-circle">
                                <img src="~/starter/assets/images/team2.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="media-body">
                                <ul class="time-rply mb-2">
                                    <li>
                                        <a href="#URL" class="name mt-0 mb-1 d-block">Benjamin</a>
                                        March 22, 2022 - 6:00 am

                                    </li>
                                    <li class="reply-last">
                                        <a href="#reply" class="reply">
                                            <span class="fa fa-reply"
                                                  aria-hidden="true"></span> Reply
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                    Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing
                                    elitFuga,
                                    suscipit totam animi consequatur saepe blanditiis.Tempore saepe maxime illo
                                    laborum
                                    obcaecati.
                                </p>
                                <div class="media second mt-5 p-0 pt-5">
                                    <a class="img-circle img-circle-sm" href="#">
                                        <img src="~/starter/assets/images/team3.jpg" class="img-fluid" alt="...">
                                    </a>
                                    <div class="media-body">
                                        <ul class="time-rply mb-2">
                                            <li>
                                                <a href="#URL" class="name mt-0 mb-1 d-block">Isabella Luna</a>
                                                March 22, 2022 - 12:06 pm
                                            </li>
                                            <li class="reply-last">
                                                <a href="#reply" class="reply">
                                                    <span class="fa fa-reply"
                                                          aria-hidden="true"></span> Reply
                                                </a>
                                            </li>
                                        </ul>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            praesentium voluptatum deleniti atque corrupti.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="leave-comment-form mt-lg-5 mt-5" id="comment">
                        <h4 class="side-title mb-4">Leave a comment </h4>
                        <form action="#" method="post">
                            <div class="form-group">
                                <textarea name="Comment" class="form-control" placeholder="Your Comment" required=""
                                          spellcheck="false"></textarea>
                            </div>
                            <div class="input-grids row">
                                <div class="form-group col-lg-4">
                                    <input type="text" name="Name" class="form-control" placeholder="Your Name"
                                           required="">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="email" name="Email" class="form-control" placeholder="Email"
                                           required="">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="text" name="text" class="form-control" placeholder="URL"
                                           required="">
                                </div>
                            </div>
                            <div class="submit text-end mt-3">
                                <button class="btn btn-style btn-primary">
                                    Post Comment
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>