
@{
    ViewBag.Title = "GolcukDroneCekimleri";
    Layout = "~/Views/Shared/_MyLayoud.cshtml";
}

<!-- Blog Single banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Blog Single - no sidebar</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Blog single - no sidebar</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Blog Single banner -->
<!-- Blog Section -->
<section class="blog-post-main w3l-blog">
    <div class="blog-content-inf py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="blog-posthny-info mx-auto" style="max-width:850px">
                <div class="single-post mb-4">

                    <div class="style-title position-relative">
                        <h3 class="title-style  mb-4">Kocaeli Drone Çekimi!</h3>
                    </div>
                    <div class="d-grid-info">
                        <div class="author align-items-center">
                            <a href="#author" class="post-author">
                                <img src="~/starter/assets/images/atinc.png" alt="" class="img-fluid rounded-circle">
                            </a>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#author"> Atınç Yürür</a>
                                </li>
                                <li>
                                    <span class="meta-description">Drone Pilot</span>
                                </li>
                            </ul>
                        </div>

                        <ul class="share-post">
                            <li>
                                <a href="#link" class="facebook" title="Facebook">

                                    <span class="btn-text">
                                        <span class="fab fa-facebook-f"
                                              aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="twitter" title="Twitter">
                                    <span class="btn-text">
                                        <span class="fab fa-twitter" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="instagram" title="Instagram">
                                    <span class="btn-text">
                                        <span class="fab fa-instagram" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="~/starter/assets/images/arsa.JPG" class="img-fluid img-responsive" alt="blog-post-image" />
                <span class="title text-center">Kocaeli drone çekiminden bir fotoğraf karesi</span>

                <div class="single-post">
                    <p class="mt-5 mb-4">
                        Kocaeli, Türkiye'nin Marmara Bölgesi'nde yer alan önemli bir şehirdir ve sahip olduğu doğal güzellikler, tarihi mekanlar ve endüstriyel alanlar, drone çekimleri için ideal bir mekan sunar. Kocaeli'nin farklı bölgelerinde gerçekleştirilen drone çekimleri, bu şehrin çeşitli yönlerini ve güzelliklerini vurgulamak için kullanılır.
                    </p>

                    <p class=" mb-4">
                        1.Doğal Güzellikler: Kocaeli, deniz kıyısında bulunan bir şehir olup, Marmara Denizi kıyılarından başlayarak İzmit Yarımadası'nın doğal güzelliklerini içerir. Gölcük, Hereke, ve Karamürsel gibi sahil kasabaları, deniz manzaraları ve plajları ile ünlüdür. Drone çekimleri, masmavi deniz manzaralarını ve bu bölgelerin kıyı çizgilerini mükemmel bir şekilde gösterir.
                    </p>
                    <p class=" mb-4">
                        2.Tarihi Alanlar: Kocaeli, tarihi öneme sahip birçok mekana ev sahipliği yapmaktadır. Osmanlı İmparatorluğu döneminden kalma tarihi kaleler, camiler ve diğer tarihi yapılar bu bölgede bulunmaktadır. Drone çekimleri, bu tarihi alanların kuşbakışı görüntülerini sunarak izleyicilere geçmişe bir yolculuk yapma fırsatı sunar.
                    <p class=" mb-4">
                        3.Endüstriyel Alanlar: Kocaeli, Türkiye'nin önemli endüstriyel merkezlerinden biridir. Sanayi bölgeleri, fabrikalar ve lojistik merkezler, şehrin ekonomik canlılığının bir yansımasıdır. Drone çekimleri, bu endüstriyel alanların büyüklüğünü ve karmaşıklığını gösterir.
                    </p>
                    <p class=" mb-4">
                        4. Doğa Yürüyüşleri ve Aktiviteler: Kocaeli, doğa severler için birçok farklı doğa parkı, ormanlık alan ve yürüyüş parkuru sunar. Dronelar, bu doğal alanların yeşilliklerini, yürüyüş rotalarını ve doğa aktivitelerini tanıtmak için kullanılabilir.
                    </p>
                    <p class=" mb-4">
                        5. Şehir Merkezi ve Trafik: Kocaeli'nin merkezi, alışveriş merkezleri, restoranlar, ve şehir yaşamını yansıtan birçok yer içerir. Drone çekimleri, şehir merkezinin karmaşıklığını, yoğunluğunu ve trafiğini yakalayabilir.
                    </p>
                    <p class=" mb-4">
                        Kocaeli'de drone çekimleri, hem doğal güzellikleri hem de şehrin endüstriyel ve tarihi zenginliklerini vurgulayan muhteşem görüntüler sunar. Bu çekimler, turistlerin ve şehir halkının Kocaeli'nin benzersizliğini daha iyi anlamalarına yardımcı olabilir ve aynı zamanda tanıtım ve pazarlama amaçları için kullanılabilir.
                    </p>





                </div>
                <img src="~/starter/assets/images/arsa.JPG" class="img-fluid mt-5 img-responsive mt-3" alt="blog-post-image">
                <span class="title text-center">Kocaeli drone çekimlerimden başka bir kare</span>


            </div>
        </div>
    </div>
</section>