
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoud.cshtml";
}

<!-- Blog Single banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">İzmit Drone Çekimleri</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Anasayfa</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> İzmit Drone Çekimleri</li>
            </ul>
        </div>
    </div>
</section>
<!-- //Blog Single banner -->
<!-- Blog Section -->
<section class="blog-post-main w3l-blog">
    <div class="blog-content-inf py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="blog-posthny-info mx-auto" style="max-width:850px">
                <div class="single-post mb-4">

                    <div class="style-title position-relative">
                        <h3 class="title-style  mb-4">İzmit Drone Çekimleri!</h3>
                    </div>
                    <div class="d-grid-info">
                        <div class="author align-items-center">
                            <a href="#author" class="post-author">
                                <img src="~/starter/assets/images/atinc.png" alt="" class="img-fluid rounded-circle">
                            </a>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#author"> Atınç Yürür</a>
                                </li>
                                <li>
                                    <span class="meta-description">Drone Pilot</span>
                                </li>
                            </ul>
                        </div>

                        <ul class="share-post">
                            <li>
                                <a href="#link" class="facebook" title="Facebook">

                                    <span class="btn-text">
                                        <span class="fab fa-facebook-f"
                                              aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="twitter" title="Twitter">
                                    <span class="btn-text">
                                        <span class="fab fa-twitter" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#link" class="instagram" title="Instagram">
                                    <span class="btn-text">
                                        <span class="fab fa-instagram" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="~/starter/assets/images/arsa.JPG" class="img-fluid img-responsive" alt="blog-post-image" />
                <span class="title text-center">Kocaeli drone çekiminden bir fotoğraf karesi</span>

                <div class="single-post">
                    <p class="mt-5 mb-4">
                        İzmit, Türkiye'nin Marmara Bölgesi'nde bulunan, tarihi ve doğal güzellikleriyle ünlü bir ilçe. İzmit, aynı zamanda endüstriyel faaliyetlerin yoğun olduğu bir bölge olarak da bilinir. Bu nedenle İzmit'in havadan görüntülenmesi, şehrin eşsiz kontrastını ve güzelliklerini vurgulamak için harika bir fırsattır.
                    </p>

                    <p class=" mb-4">
                        Drone çekimleri, İzmit'in çeşitli açılardan görüntülenmesini sağlar ve şehrin benzersiz doğal güzelliklerini ve manzaralarını yakından keşfetmeye olanak tanır. İşte İzmit'ten drone çekimleri ile yakalanan bazı önemli noktalar:
                    </p>
                    <p class=" mb-4">
                        1. İzmit Körfezi: İzmit, Marmara Denizi'nin güzel bir kıyısında yer alır ve körfezin muhteşem manzarası, drone çekimleri ile tam anlamıyla canlanır.
                    </p>
                    <p class=" mb-4">
                        2. Şehir Merkezi: İzmit'in merkezi bölgeleri, tarihi yapıları ve modern yerleşim alanlarıyla dikkat çeker. Drone, şehir merkezinin sokaklarını ve caddelerini yukarıdan görüntülemek için harika bir araçtır.
                    </p>
                    <p class=" mb-4">
                        3. Seka Kağıt Fabrikası: Seka Kağıt Fabrikası, İzmit'in simgesi haline gelmiş bir endüstriyel tesis. Bu tesisin drone çekimleri, şehirdeki endüstriyel geçmişi ve önemini vurgular.
                    </p>
                    <p class=" mb-4">
                        4. Doğal Güzellikler: İzmit çevresi, ormanlar, göller ve doğal güzelliklerle doludur. Sapanca Gölü, Kartepe Kayak Merkezi ve Kocaeli Yarımadası'nın nefes kesen manzaralarını drone ile yakından görmek mümkün.
                    </p>
                    <p class=" mb-4">
                        5. Tarihi Alanlar: İzmit, tarihi alanlarıyla da dikkat çeker. Osmanlı dönemine ait eski evler, köprüler ve kaleler, drone çekimleriyle daha etkileyici hale gelir.
                    </p>
                    <p class=" mb-4">
                        Drone çekimleri, İzmit'in doğal güzelliklerini, endüstriyel tarihini ve modern yaşamını keşfetmek isteyenlere harika bir yol sunar. Ayrıca bu çekimler, tanıtım videoları, turistik rehberler ve daha fazlası için kullanılabilir, böylece İzmit'in cazibesini daha geniş bir kitleye tanıtmak mümkün olur.
                    </p>





                </div>
                <img src="~/starter/assets/images/arsa.JPG" class="img-fluid mt-5 img-responsive mt-3" alt="blog-post-image">
                <span class="title text-center">Kocaeli drone çekimlerimden başka bir kare</span>


            </div>
        </div>
    </div>
</section>


