
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoud.cshtml";
}


<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 mt-5">
            <div class="banner-info-grid mt-5">
                <h2 class="w3l-title-breadcrumb">Hakkımda</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="#url">Anasayfa</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Hakkımda</li>
            </ul>
        </div>
    </div>
</section>
<!-- //about banner -->
<!-- About Section -->
<section class="w3l-about py-5" id="about">
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-5 my-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="~/starter/assets/images/hakkimda.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-7 w3l-about-info px-lg-4 align-center">
                <h6 class="w3l-title-small mb-1">Atınç Yürür Kimdir?</h6>
                <h3 class="w3l-title-main mb-2">İşini aşkla yapan bir drone pilotuyla tanışın.</h3>
                <p class="my-4 pe-lg-5">
                    Ben 30 yaşında dünyalar tatlısı iki çocuk sahibi bir drone pilotuyum.Yıllar önce hobi olarak başladığım drone kullanımı zaman içinde vazgeçemediğim bir tutku haline geldi.Çekimlerimde her zaman en kaliteli
                    görselleri elde etmek için  tüm imkanları kullanarak müşterilerimin memnuniyetini
                    kazanmayı hedef edindim.
                </p>
                <div class="my-info mt-4">
                    <div class="single-info">
                        <span>İsim:</span>
                        <p>Atınç Yürür</p>
                    </div>
                    <div class="single-info">
                        <span>Şehir:</span>
                        <p>Kocaeli, TR</p>
                    </div>
                    <div class="single-info">
                        <span>Mail:</span>
                        <p><a href="mailto:example@mail.com">info@kocaelidron.com</a></p>
                    </div>
                    <div class="single-info">
                        <span>Telefon:</span>
                        <p><a href="tel:0539 844 77 77">0539 844 77 77</a></p>
                    </div>
                </div>

                <ul class="follow-social mt-lg-5 mt-4">
                    <li>
                        <h5 class="me-md-3">Beni Takip Edin</h5>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/dronkocaeli/?igshid=YmMyMTA2M2Y%3D" target="_blank"><span class="fab fa-instagram"></span></a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/channel/UC6N7pIMzVc2WU5OzGcdrTWg" target="_blank"><span class="fab fa-youtube"></span></a>
                    </li>




                </ul>
                <div class="w3l-btn">
                    <a href="/Home/İletisim" class="btn btn-style btn-primary mt-lg-5 mt-4 me-md-2">Bana Ulaşın</a>
                    <a href="/Home/Hizmetlerim" class="btn btn-style btn-secondary mt-lg-5 mt-4">Hizmetlerim</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<!-- about page video popup section -->
<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h3 class="w3l-title-main">Drone Çekimlerinin ve Teknolojisinin Kocaeli İçin Önemi</h3>
                    <p class="mt-3">

                        Kocaeli: Dronelerin yardımıyla yükselen bir şehir. Türkiye'nin kuzeybatısında yer alan Kocaeli, ülkenin en hızlı gelişen şehirlerinden biridir. Son yıllarda şehir, hem ekonomik hem de teknolojik açıdan atılım kaydetmiştir. Bu büyümeyi sağlayan anahtar faktörlerden biri dronelerin entegrasyonudur. Kocaeli belediye yönetimi, drone teknolojisi sayesinde şehir yönetimini daha verimli ve etkin hale getirmeyi amaçlamaktadır. Örneğin, belediye droneleri kentsel arazi tarama ve planlama, açık hava etkinliklerinin izlenmesi, yangın ve benzeri afet durumlarının takibi gibi amaçlar için kullanabilir. Ayrıca, drone teknolojisi turizm sektörüne de yardımcı olabilir. Örneğin, turistler şehir veya turistik alanların birden fazla açıdan görüntülenmesini isteyebilir. Ayrıca, Kocaeli'deki özel sektör de drone teknolojisinden yararlanmaya başlamıştır. Örneğin, çiftçiler droneleri tarım alanlarının taranması ve verimlilik analizi gibi amaçlar için kullanabilir. Aynı zamanda, inşaat ve mühendislik sektörleri de drone teknolojisini kullanarak projelerin daha verimli ve hızlı yürütülmesini sağlamaya çalışır. Sonuç olarak, Kocaeli hızla gelişen bir şehir ve drone teknolojisi bu gelişimi hızlandırmaktadır. Belediye ve özel sektör, drone teknolojisini kullanarak şehri daha verimli ve etkin hale getirmeyi amaçlamaktadır. Kocaeli'nin geleceğine bakıldığında, drone teknolojisi şehir yönetiminde ve ekonomisinde önemli bir rol oynayacaktır.
                    </p>
                </div>
                <div class="history-info mt-5">
                    <div class="position-relative">
                        <img src="~/starter/assets/images/mini_mini_2-min (3).jpg" class="img-fluid radius-image video-popup-image"
                             alt="video-popup">

                        <a href="https://www.youtube.com/watch?v=T8HzxapsblI&t=32s" target="_blank" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/Cu2VnoRcxKM" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about page video popup section -->






<section class="w3l-clients" id="testimonials">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">

                <h3 class="w3l-title-main">Müşterilerimizin Görüşleri</h3>
            </div>
            <div id="owl-demo1" class="owl-carousel owl-theme mt-4 py-2 mb-5">
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    Atınç beyle bir arkadaşımın önerisi üzerine iletişime geçtim.Çok memnun kaldık.Kendisi  bizimle çalıştığı sürece  pozitif yönü ve öğretici yaklaşımlarıyla işimize kolaylıklar sağladı.
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/starter/assets/images/akcenkyap.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Ahmet Bey</h3>
                                    <p class="indentity">Firma Sahibi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    Kendisi her projemizde mutlaka çalışmaktan çok keyif aldığımız bir iş arkadaşımız halinine geldi. Profosyonel çekimlerini çok begenerek işlerimizde kullanıyoruz. Fiyat da olarak gayet uygun.
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/starter/assets/images/pekinemlak.png" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Kemal Bey</h3>
                                    <p class="indentity">Firma Sahibi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    Drone çekimlerimiz için arayışta olduğumuz dönemde bir yakınımız önermişti.Fiyat ve performans olarak çekimleri muhteşem.Kendisi çözüm odaklı ve işinde uzman biri. Kesinlik tavsiye ederim.
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/starter/assets/images/remax.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Ayla Hanım</h3>
                                    <p class="indentity">Firma Yöneticisi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    Kocaeli arsa drone çekimlerimizde Atınç beyle çalışıyoruz.Hızlı aksiyon alan ve çekim konusunda çok iyi olan biri.Yıllardır çalışmalarımız sürüyor. Çekmiş olduğu arsa görsellerini müşterilerimize sorunsuz sergiliyoruz.
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/starter/assets/images/EPA (1).jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Hakan Bey</h3>
                                    <p class="indentity">Firma Ortağı</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    Kocaeli drone çekimleri işimizi tamamen Atınç bey yapar.Kendisi ile çalışmaktan cok mutluyum.Her zaman müşteri odaklı çalışır.İşinde yeterli bilgi ve tecrübeye sahiptir.Fiyat olarakta çok makuldür.
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/starter/assets/images/Engindenizemalk.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Ayla hanım</h3>
                                    <p class="indentity">Yönetici</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
